.flashcard {
  margin: 1rem auto;
  width: 100%;
  text-align: center;
}

.flashcard-container {
  cursor: pointer;
  width: 500px;
  height: 400px;
  margin: auto;
  background-color: rgb(255, 255, 255);
  border-radius: 3%;
  box-shadow: 5px 5px 30px 5px rgba(0, 0, 0, 0.15)
}

.flashcard-text {
  font-size: 2rem;
  padding-top: 30%;
}

.flashcard-button-container {
  padding: 2rem;
}

@media only screen and (max-width: 600px) {
  .flashcard-container, .flashcard-text{
    width: 100%;
  }

  .flashcard-container {
    box-shadow: none;
  }

  .flashcard-text {
    padding-top: 40%;
  }
} 