.progress.is-success::-moz-progress-bar{
  background-color: rgb(31, 124, 231)
}
.progress.is-success::-ms-fill{
  background-color: rgb(31, 124, 231)
}
.progress.is-success::-webkit-progress-value{
  background-color: rgb(31, 124, 231)
}

.progress {
  margin: 0 auto;
  width: 600px;
}

.flashcard {
  margin: 1rem auto;
  width: 100%;
  text-align: center;
}

.flashcard-container {
  cursor: pointer;
  width: 600px;
  height: 400px;
  margin: auto;
  background-color: rgb(255, 255, 255);
  border-radius: 3%;
  box-shadow: 5px 5px 30px 5px rgba(0, 0, 0, 0.15)
}

.flashcard-text {
  font-size: 2.5rem;
  padding-top: 25%;
  margin: 0 2rem;
}

.flashcard-button-container {
  padding: 1rem;
}

.flashcard-button-container .button {
  margin: 0 5px;
}

@media only screen and (max-width: 600px) {
  .progress {
    width: 90%;
  }

  .flashcard-container, .flashcard-text{
    width: 100%;
  }

  .flashcard-container {
    box-shadow: none;
  }

  .flashcard-text {
    padding-top: 35%;
    margin: 0;
  }
} 